*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-canvas {
  background: #000;
  position: absolute;
}
